src/bindings/*.zig
src/bindings/*.hpp
zig-cache/
zig-out/
__pycache__/
dbg/
dbg2/
.vspreview
*.d2v
*.m2v
*.y4m
*.lwi
*.txt
*.bin
*.zst
*.a
*.ac3
*.vob
*.mkv
*.mka
*.264
*.265
*.opus
config.ini
libdvdread-6.1.3
libmpeg2-0.5.1
vapoursynth-R62
libdvdread-6.1.3.tar.bz2
libmpeg2-0.5.1.tar.gz
R62
target/
projects/
a52dec-c388f3b6d911c246e0b2a7b2c436c3de2e79c74d.tar.gz
a52dec-c388f3b6d911c246e0b2a7b2c436c3de2e79c74d/